:root {
  --header-height: 75px;
  --accent-color: #D29595;
  --accent-color-light: #e2baba;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #EFE7E7;
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
}

*.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.popped {
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
}

.section {
  z-index: 1;
}

/* Header Styling */

header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
  height: var(--header-height);
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 10;
  overflow: hidden;
}

header a {
  text-decoration: none;
}

.header-left {
  display: flex;
  align-items: center;
  transition: opacity 0.4s ease-in-out;
  margin-right: auto;
}

.text-logo {
	margin: 0;
  color: var(--accent-color);
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 0 20px;
  position: absolute;
  transition: transform 0.4s ease, right 0.4s ease;
}

.header-link {
  color: var(--accent-color-light);
  transition: color 0.2s ease;
}

.header-link:hover {
  color: var(--accent-color);
}

.header-link h2 {
  padding: 0 5px;
}

.current-link {
  background-color: var(--accent-color);
  color: white;
}

@media screen and (max-width: 500px) {
  .header-right {
    position: static;
  }
}

/* Home Styling */

#Home {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EFE7E7;
  height: calc(100vh - var(--header-height));
  height: calc(100svh - var(--header-height));
  overflow: hidden;
}

.home-info {
  position: relative;
  bottom: 0;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  width: 520px;
  height: 220px;
  transition: bottom 0.2s ease;
}

.home-info h1 {
  font-size: 45px;
}

.home-info h2 {
  font-size: 30px;
  color: var(--accent-color-light);
  margin: 0;
}

.arrow-down {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border: 40px solid;
  border-color: var(--accent-color) transparent transparent transparent;
  transition: bottom 0.2s ease;
}

.home-info:hover,
.arrow-down:hover {
  bottom: 10px;
}

#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: -1; /* if you use -1 you have to set to `"window"` the interactivity.detectsOn property */
}