:root {
  --header-height: 75px;
  --bg-color: #121212;
  --dark-grey: #1e1e1e;
  --dark-grey-rgb: 30, 30, 30;
  --off-white: #cecece;
  --accent-color: #d56a86;
  --accent-color-transparent: #d56a87c1;
  --secondary-color: #5caae2;
  --secondary-color-transparent: #5caae2b5;
  --section-max-width: 1200px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
}

::-moz-selection {
  background-color: var(--secondary-color);
  color: var(--dark-grey);
}

::selection {
  background-color: var(--secondary-color);
  color: var(--dark-grey);
}

*.unselectable {
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*.unbold {
  font-weight: normal;
}

.popped {
  -webkit-filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
}

.section {
  z-index: 1;
}

.section-limiter {
  box-sizing: border-box;
  max-width: var(--section-max-width);
  margin: auto;
}

.section-content {
  padding: 75px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 65px;
}

.section-title {
  color: var(--off-white);
  font-size: 6.25rem;
  margin: 0;
  border-radius: 5px;
  font-weight: normal;
}

@media screen and (max-width: 1024px) {
  .section-content {
    padding: 40px 0;
    gap: 40px;
  }
}

@media screen and (max-width: 850px) {
  .section-title {
    font-size: min(4.5rem, 15vw);
  }
}

.pointer {
  cursor: pointer;
}

.mobile {
  display: none;
}

/* Global Media Queries */

@media screen and (max-width: 1024px) {
  .desktop {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  :root {
    --header-height: 60px;
  }
}

/* Header Styling */

.header-wrapper {
  position: -webkit-sticky;
  position: sticky;
  height: var(--header-height);
  width: 100%;
  top: 0;
  z-index: 10;
}

header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
  height: var(--header-height);
  background-color: var(--dark-grey);
  overflow: hidden;
}

header a {
  text-decoration: none;
}

.header-left {
  display: flex;
  align-items: center;
  transition: opacity 0.4s ease-in-out;
  margin-right: auto;
}

.text-logo {
  margin: 0;
  color: var(--off-white);
  transition: color 0.4s ease;
}

.text-logo:hover {
  color: var(--accent-color);
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
  position: absolute;
  transition: right 0.4s ease-out;
}

.header-right,
.header-mobile-icon {
  right: 50%;
  transform: translateX(50%);
}

.header-link {
  color: var(--off-white);
  transition: color 0.4s ease;
}

.header-link:hover {
  color: var(--accent-color);
}

.header-link h2 {
  padding: 6px 12px;
}

.current-link {
  background-color: var(--accent-color);
  color: white;
  border-radius: 6px;
}

@media screen and (max-width: 900px) {
  header {
    padding: 0 0 0 15px;
    overflow: initial;
  }

  .header-right {
    display: none;
  }

  .header-mobile-icon {
    box-sizing: border-box;
    padding: 5px;
    height: var(--header-height);
    width: calc(var(--header-height) + 10px);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    transition: right 0.4s ease-out;
  }

  .header-icon-line {
    height: 5px;
    width: calc(var(--header-height) * 0.65);
    background-color: var(--accent-color);
    border-radius: 2px;
    transition: transform 0.4s ease, width 0.4s ease;
  }

  .header-mobile-nav {
    box-sizing: border-box;
    background-color: var(--dark-grey);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 10px;
    width: 100%;
    z-index: -1;
    transition: transform 0.4s ease, opacity 0.4s ease;
  }

  .header-link {
    width: 100%;
    transition: color 0.4s ease;
  }

  .header-link h2 {
    margin: 5px 5px 5px auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 6px;
  }

  .current-link {
    color: white;
    border-radius: 2px;
  }
}

/* Home Styling */

#Home {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  height: calc(100vh - var(--header-height));
  height: calc(100svh - var(--header-height));
  overflow: hidden;
}

.home-info {
  position: absolute;
  inset: 0;
  margin: auto;
  bottom: var(--header-height);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(var(--dark-grey-rgb), 0.75);
  border-radius: 5px;
  width: 520px;
  height: 220px;
  transition: bottom 0.4s ease;
}

.home-info:hover {
  bottom: calc(var(--header-height) + 10px);
}

.home-info h1 {
  font-size: 45px;
  color: var(--accent-color);
  margin: 0;
}

.home-info h2 {
  font-size: 30px;
  color: var(--off-white);
  margin: 0;
}

.arrow-down {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border: 40px solid;
  border-color: var(--accent-color) transparent transparent transparent;
  transition: bottom 0.4s ease;
}

.arrow-down:hover {
  bottom: 10px;
}

#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: -1;
}

@media screen and (max-width: 650px) {
  .home-info {
    position: absolute;
    inset: 0;
    margin: auto;
    bottom: var(--header-height);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    max-width: 300px;
    max-height: 125px;
    transition: bottom 0.4s ease;
  }

  .home-info:hover {
    bottom: calc(var(--header-height) + 10px);
  }

  .home-info h1 {
    font-size: 2.25rem;
  }

  .home-info h2 {
    font-size: 1.25rem;
    margin: 0;
  }
}

/* Intro Styling */

#Intro {
  background-color: var(--dark-grey);
}

.intro-content {
  padding: 115px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.intro-img {
  width: 350px;
  border-radius: 50%;
}

.intro-text h3 {
  color: var(--off-white);
  font-size: 2rem;
  margin: 0;
  margin-bottom: 2rem;
}

.intro-text p {
  max-width: 700px;
  color: var(--off-white);
  opacity: 90%;
  font-size: 1.5rem;
  margin: 0;
}

.intro-buttons {
  display: flex;
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  gap: 2rem;
  margin-top: 35px;
}

.intro-buttons div:hover,
.contact-buttons > a:hover {
  color: white;
  background-color: var(--accent-color);
  bottom: 5px;
  transform: scale(105%);
}

.intro-buttons div,
.contact-buttons > a {
  position: relative;
  bottom: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: var(--off-white);
  border-color: var(--accent-color);
  border-style: solid;
  border-width: 4px;
  font-size: 1.75rem;
  padding: 10px 20px;
  border-radius: 12px;
  transition: color 0.4s ease, background-color 0.4s ease, bottom 0.4s ease, transform 0.2s ease;
}

.intro-buttons a {
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .intro-content {
    padding: 75px 0;
    flex-direction: column;
    gap: 30px;
  }

  .intro-text {
    padding: 0 40px;
    text-align: center;
  }

  .intro-text h3 {
    text-align: center;
  }

  .intro-text p {
    font-size: 1.5rem;
  }

  .intro-buttons {
    margin-inline: auto;
  }
}

@media screen and (max-width: 650px) {
  .intro-content {
    padding: 50px 0;
    flex-direction: column;
    gap: 20px;
  }

  .intro-img {
    width: 350px;
    border-radius: 50%;
  }

  .intro-text > h3 {
    font-size: 1.75rem;
    margin: 0;
    margin-bottom: 20px;
  }

  .intro-img {
    width: 200px;
    border-radius: 50%;
  }

  .intro-text {
    padding: 0 35px;
  }

  .intro-text h3 {
    text-align: center;
  }

  .intro-text p {
    font-size: 1.25rem;
  }

  .intro-buttons {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .intro-buttons div {
    margin: 0;
    font-size: min(1.5rem, 6vw);
  }
}

/* Portfolio Styling */

.portfolio-grid {
  max-width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.project-wrapper {
  position: relative;
  bottom: 0;
  opacity: 1;
  min-height: calc(var(--section-max-width) / 4);
  width: calc(var(--section-max-width) / 5);
  text-decoration: none;
  transition: bottom 0.4s ease, opacity 0.4s ease, transform 0.2s ease;
  transform: scale(100%);
  text-align: center;
}

.project-wrapper:hover {
  bottom: 10px;
  transform: scale(105%);
}

.portfolio-grid:has(.project-wrapper:hover) > .project-wrapper:not(:hover) {
  bottom: -5px;
  opacity: 0.5;
  transform: scale(99%);
}

.project {
  height: calc(var(--section-max-width) / 4);
  width: 100%;
  text-decoration: none;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  overflow: hidden;
}

.project-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  box-sizing: border-box;
  padding: 15px;
  height: 100%;
  width: 100%;
  color: white;
  background-color: transparent;
  -webkit-backdrop-filter: blur(0);
  backdrop-filter: blur(0);
  transition: background-color 0.4s ease, -webkit-backdrop-filter 0.4s ease;
  transition: background-color 0.4s ease, backdrop-filter 0.4s ease;
  transition: background-color 0.4s ease, backdrop-filter 0.4s ease, -webkit-backdrop-filter 0.4s ease;
}

.project-content:hover {
  background-color: var(--secondary-color-transparent);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}

.project-content:hover > .project-text {
  opacity: 1;
}

.project-text {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.project-title {
  margin: 0;
  font-size: 1.7rem;
  line-height: 1.8rem;
  margin-bottom: 10px;
}

.project-description {
  margin: 0;
  font-size: 1.1rem;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.project-tag {
  margin: 0;
  padding: 5px 10px;
  border-radius: 10px;
}

@media screen and (max-width: 1024px) {
  .project-wrapper {
    width: calc(var(--section-max-width) / 4);
  }
}

@media screen and (max-width: 330px) {
  .project-wrapper {
    width: calc(var(--section-max-width) / 5);
  }
}

/* Contact Styling */

#Contact {
  --background-color: var(--dark-grey);
  background-color: var(--background-color);
}

#Contact > .section-content {
  gap: 0;
}

.contact-text {
  box-sizing: border-box;
  text-align: center;
  width: min(700px, 100%);
  color: var(--off-white);
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
  margin-top: 65px;
  margin-bottom: 65px;
  padding: 0 25px;
}

.contact-text > a {
  color: var(--accent-color);
  -webkit-text-decoration-color: var(--background-color);
  text-decoration-color: var(--background-color);
  transition: -webkit-text-decoration-color 0.4s ease, -webkit-filter 0.4s ease;
  transition: text-decoration-color 0.4s ease, filter 0.4s ease;
  transition: text-decoration-color 0.4s ease, filter 0.4s ease, -webkit-text-decoration-color 0.4s ease, -webkit-filter 0.4s ease;
}

.contact-text > a:hover {
  -webkit-text-decoration-color: var(--accent-color);
  text-decoration-color: var(--accent-color);
  -webkit-filter: drop-shadow(0 0 10px var(--bg-color));
  filter: drop-shadow(0 0 10px var(--bg-color));
}

.contact-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.contact-buttons a {
  text-decoration: none;
}

@media screen and (max-width: 850px) {
  .contact-text {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 650px) {
  .contact-text {
    font-size: 1.25rem;
  }

  .contact-buttons {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .contact-buttons > a {
    width: 80%;
    text-align: center;
  }
}
