:root {
  --header-height: 75px;
  --accent-color: #D29595;
  --accent-color-transparent: #d295959d;
  --accent-color-light: #e2baba;
  --section-max-width: 1200px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #EFE7E7;
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
}

*.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.popped {
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
}

.section {
  z-index: 1;
}

.section-limiter {
  box-sizing: border-box;
  max-width: var(--section-max-width);
  margin: auto;
}

.pointer {
  cursor: pointer;
}

/* Header Styling */

header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
  height: var(--header-height);
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 10;
  overflow: hidden;
}

header a {
  text-decoration: none;
}

.header-left {
  display: flex;
  align-items: center;
  transition: opacity 0.4s ease-in-out;
  margin-right: auto;
}

.text-logo {
	margin: 0;
  color: var(--accent-color);
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 0 20px;
  position: absolute;
  transition: transform 0.4s ease, right 0.4s ease;
}

.header-link {
  color: var(--accent-color-light);
  transition: color 0.2s ease;
}

.header-link:hover {
  color: var(--accent-color);
}

.header-link h2 {
  padding: 0 6px;
}

.current-link {
  background-color: var(--accent-color);
  color: white;
  border-radius: 2px;
}

/* Home Styling */

#Home {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EFE7E7;
  height: calc(100vh - var(--header-height));
  height: calc(100svh - var(--header-height));
  overflow: hidden;
}

.home-info {
  position: relative;
  bottom: 0;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  width: 520px;
  height: 220px;
  transition: bottom 0.2s ease;
}

.home-info h1 {
  font-size: 45px;
}

.home-info h2 {
  font-size: 30px;
  color: var(--accent-color-light);
  margin: 0;
}

.arrow-down {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border: 40px solid;
  border-color: var(--accent-color) transparent transparent transparent;
  transition: bottom 0.2s ease;
}

.home-info:hover,
.arrow-down:hover {
  bottom: 10px;
}

#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: -1;
}

/* Intro Styling */

#Intro {
  background-color: white;
}

.intro-content{
  padding: 115px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.intro-img {
  width: 350px;
  border-radius: 50%;
}

.intro-text h3 {
  color: var(--accent-color);
  font-size: 2rem;
  margin: 0;
  margin-bottom: 2rem;
}

.intro-text p {
  text-align: justify;
  max-width: 700px;
  color: var(--accent-color-light);
  font-size: 1.5rem;
  margin: 0;
}

.intro-button {
  display: flex;
  text-decoration: none;
  width: fit-content;
}

.intro-button h3 {
  width: fit-content;
  background-color: var(--accent-color);
  color: white;
  font-size: 1.75rem;
  padding: 10px 20px;
  margin: 35px 0 0 0;
  border-radius: 5px;
}

/* Portfolio Styling */

.portfolio-content {
  padding: 75px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 45px;
}

.portfolio-title {
  width: fit-content;
  background-color: var(--accent-color);
  color: white;
  font-size: 2.5rem;
  padding: 25px 100px;
  margin: 0;
  border-radius: 5px;
}

.portfolio-grid {
  max-width: var(--section-max-width);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px
}

.portfolio-item {
  text-decoration: none;
  width: calc(var(--section-max-width) / 5);
  height: calc(var(--section-max-width) / 4);
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  overflow: hidden;
}

.portfolio-item-content {
  box-sizing: border-box;
  padding: 15px;
  height: 100%;
  width: 100%;
  opacity: 0;
  color: white;
  background-color: var(--accent-color-transparent);
  transition: opacity 0.4s ease;
}

.portfolio-item-content:hover {
  opacity: 1;
}

.portfolio-item-title {
  margin: 0;
  font-size: 1.85rem;
  margin-bottom: 15px;
}

.portfolio-item-description {
  margin: 0;
  font-size: 1.5rem;
  width: 100%;
  height: 80%;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}